<% provide(:title, 'All Task Logs') %>
<%= will_paginate %>
<table class="table table-hover table-bordered">
  <thead>
    <th>Log Name</th>
    <th>Status</th>
    <th>Execution Date</th>
    <th>Errors</th>
    <th>Execution Time</th>
  </thead>
  <tbody>
  <tr>
    <%= render @task_logs %>
  </tr>
  </tbody>
</table>

<%= will_paginate %>
