<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", signin_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= link_to "Task Logs", task_logs_path %></li>
        <li><%= link_to "New Task", new_task_path %></li>
      </ul>
    </nav>
  </div>
</header>
